{% extends 'base.html.twig' %}

{% block title %}Photograph{% endblock %}


{% block firstPage %}

{% endblock %}

{% block body %}

    <div class="slideshow-container">
        <div class="carousel-background fade">
            <img class="image-carousel" src="{{ asset('img/backgroundSnow.png') }}" style="width:100%">
        </div>

        <div class="carousel-background fade">
            <img class="image-carousel" src="{{ asset('img/backgroundRoute.jpg') }}" style="width:100%">
        </div>
    </div>
    <div class="container">
        <div class="firstPage">
            <div class="row imageContainerAccueil">
                <img src="{{ asset('img/logo.png') }}" class="col l4 m4 s8 offset-s2 offset-m4 offset-l4 imageLogoAccueil" alt="">
            </div>
            <p class="description">Vous avez été pris en photo ?<br />
                Indiquez votre nom ci-dessous <br />
                pour la retrouver </p>
            {{ form_start(form) }}
            <div class="center-align" style="margin-bottom: 2vh;">
                {{ form_widget(form.info) }}
            </div>
            {{ form_end(form) }}
            <div class="socialNetworks row">
                <div><a href="https://www.facebook.com/Photosportnormandy-2057705341112605/" target="_blank" class="col s4 offset-s2 l2 offset-l4 facebook"></a></div>
                <div><a href="https://www.instagram.com/photosportnormandy/" target="_blank" class="col s4 l2 instagram"></a></div>
            </div>
            <div class="container-arrow">
                <a><i class="arrow-down material-icons medium" style="color: whitesmoke">arrow_drop_down</i></a>
            </div>
        </div>
    </div>

    <div class="services">

        <h3>Mes services</h3>

        <p class="center-align information">Je pratique la photographie dans differents domaines</p>


        <div class="pictograms row">

            <div class="pictogram center-align col l3 m4 s4 offset-l1">
                <img src="{{ asset("img/running.svg") }}" alt="">
                <div>
                    Evenements <br />
                    sportifs
                </div>
            </div>

            <div class="pictogram pictogram-center center-align col l4 m4 s4">
                <img src="{{ asset("img/glasses.svg") }}" alt="">
                <div>
                    Evenmentiel <br />
                    entreprise
                </div>
            </div>

            <div class="pictogram center-align col l3 m4 s4">
                <img src="{{ asset("img/newspaper.svg") }}" width="60" alt="">
                <div>
                    Prestations<br />
                    pour la presse
                </div>
            </div>

        </div>

        <div class="separator container">
            <div class="divider"></div>
        </div>

        <div class="consult row">
            <div class="consult-left col l7 m12 s12 offset-l1">
                <h3>Consultez mes photos</h3>
                <p>
                    Vous pouvez vous rendre dans la galerie pour accéder à vos <br />
                    photos. Il est aussi possible de les acheter. Pour cela, dirigez <br />
                    vous vers le lien qui vous correspond :
                </p>
            </div>
            <div class="consult-right col l4 m12 s12">
                <a class="buttonGray center-align" href="{{ path('gallerie',{'category' : 'professionnel'}) }}">PROFESSIONNEL</a><br />
                <a class="buttonWhiteBorder center-align" href="{{ path('gallerie',{'category' : 'particulier'}) }}">PARTICULIER</a>
            </div>
        </div>
    </div>


{% endblock %}
