{% extends 'base.html.twig' %}

{% block title %}Album - {{ category }}{% endblock %}

{% block body %}

    <div class="gallery content">

        <div class="header">

            <div class="retourGallerie">
                <a href="{{ path('gallerie',{'category' : category}) }}" class="nextPreviousA">&#10094; Retour album</a>
            </div>
            <h3 class="center-align">{{ album.albumName }}</h3>

            <div class="separatorLine"></div>

            <h5 class="center-align">
                {{ 'SECTION POUR ' ~  category | upper ~ 'S' }}
            </h5>
        </div>

        <div class="container">
            <div class="album hide-on-small-and-down">
                {% for photo in album.photos %}
                    {% if app.request.query.get('password') is not null %}
                        <a class="tile" href="{{ path('viewer',{'albumId' : album.id,'category' : category,'photoId' : photo.id,'password' : app.request.query.get('password')}) }}">
                    {% else %}
                        <a class="tile" href="{{ path('viewer',{'albumId' : album.id,'category' : category,'photoId' : photo.id}) }}">
                    {% endif %}
                        {% if 'payant' in album.category %}
                            <img src="{{ asset('uploads/watermarked/' ~ photo.watermark) }}" alt="">
                        {% else %}
                            <img src="{{ asset('uploads/photos/' ~ photo.photo) }}" alt="">
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <div class="hide-on-med-and-up">
                {% for photo in album.photos %}
                    <div class="row" >
                        {% if app.request.query.get('password') is not null %}
                            <a class="col s12 tileSmall" href="{{ path('viewer',{'albumId' : album.id,'category' : category,'photoId' : photo.id,'password' : app.request.query.get('password')}) }}">
                        {% else %}
                            <a class="col s12 tileSmall" href="{{ path('viewer',{'albumId' : album.id,'category' : category,'photoId' : photo.id}) }}">
                        {% endif %}
                        {% if 'payant' in album.category %}
                            <img src="{{ asset('uploads/watermarked/' ~ photo.watermark) }}" alt="">
                        {% else %}
                            <img src="{{ asset('uploads/photos/' ~ photo.photo) }}" alt="">
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>



    </div>



{% endblock %}