{% extends 'base.html.twig' %}

{% block title %}Galerie - {{ category }}{% endblock %}

{% block body %}

    <div class="gallery content">

        <div class="header">
            <h3 class="center-align">GALERIE DE PHOTOS</h3>

            <div class="separatorLine"></div>

            <h5 class="center-align">
                {{ 'SECTION POUR ' ~  category | upper ~ 'S' }} - ALBUMS
            </h5>

            <div class="sort center-align">
                <div class="sortBy">Trier par date </div>
                <form style="display: inline-block" id="formDate" method="POST" action="{{ path('gallerie',{'category' : category}) }}">
                    <input name="dateGallery" class="browser-default inputDate" type="date" onchange="changeDate()" />
                </form>
            </div>
        </div>

        <div class="container">
            {% set i = 0 %}
            {% for album in albums %}
                {% if i % 3 == 0 %}
                    <div class="row">
                {% endif %}
                        {% set i = i + 1 %}
                        <div class="photoContainer col l4 m6 s12">
                            <a class="photoAlbumGallery" href="{{ path('album',{'albumId' : album.id,'category' : category}) }}" style='background-image:url({{ asset('uploads/watermarked/' ~ miniatures[album.id] ) }})'></a>
                            <div class="center-align album-title">{{ album.albumName }}</div>
                        </div>
                {% if i % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



{% endblock %}
