{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
    </div>

    <div class="retourGallerie">
        <a href="{{ path('gallerie',{'category' : category}) }}" class="nextPreviousA">&#10094;  Retour albums</a>
    </div>

    <h3 class="center-align">{{ album.albumName }}</h3>
    <h5 style="font-family: Lato-Bold;text-align: center">Cet album est protégé par un mot de passe</h5>
    <div style="text-align: center">
        {{ form_start(form) }}
        {{ form_widget(form ) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
