{% extends 'base.html.twig' %}

{% block title %}Galerie - Visualisation {% endblock %}

{% block body %}

    <div class="viewer">
        <div class="header">

            <div class="retourGallerie">
                <a href="{{ path('album',{'category' : category,'albumId' : album.id }) }}" class="nextPreviousA">&lt; Retour album</a>
            </div>
            <h3 class="center-align" style="margin-top: 0;">{{ album.albumName }}</h3>

            <div class="separatorLine"></div>

            <h5 class="center-align">
                {{ 'SECTION POUR ' ~  category | upper ~ 'S' }}
            </h5>
        </div>


        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        <div class="">

            <div class="row show-on-small hide-on-med-and-up">
                <div class="col center-align s6">
                    <img src="{{ asset('img/previous.png') }}" alt="" class="previousImg" width="20">
                    <a href="" class="nextPreviousA">Précédente</a>
                </div>
                <div class="col center-align s6">
                    <a href="" class="nextPreviousA">Suivante</a>
                    <img src="{{ asset('img/next.png') }}" class="nextImg" alt="" width="20">
                </div>
            </div>

            <div class="row">
                <div class="col l3 m3 hide-on-small-and-down">
                    <div class="nextPrevious">
                        <img src="{{ asset('img/previous.png') }}" alt="" class="previousImg" width="20">
                        <a href="" class="nextPreviousA">Précédente</a>
                    </div>
                </div>
                <div class="col l6 m6 image">

                    <img  class="responsive-img" src="{{ asset('uploads/photos/' ~ photo.photo) }}" alt="Photo" width="500">
                </div>
                <div class="col l3 m3 hide-on-small-and-down">
                    <div class="nextPrevious">
                        <a href="" class="nextPreviousA">Suivante</a>
                        <img src="{{ asset('img/next.png') }}" class="nextImg" alt="" width="20">
                    </div>
                </div>
            </div>

            <div class="containerButtons">
                <a class="button buttonBlue center-align" href="{{ asset('uploads/photos/' ~ photo.photo) }}">Agrandir la photo</a>
                <a class="button buttonYellow center-align" href="{{ path('gallerie',{'category' : 'professionnel'}) }}">Partager la photo</a>
            </div>
            <form id="formBuyPhoto" method="post" action="{{ path('ajouterPanier') }}">
                    <div class="textInput">
                        <div class="messageSelect" style="display: inline-block">Utilisation :</div>
                        <select onchange="changeCategory(value)" style="display: inline-block;" class="browser-default inputSelect" name="utilisation" id="">
                            <option value="professionnel" {{ category == 'professionnel' ? 'selected' : '' }}>Professionnel</option>
                            <option  value="particulier" {{ category == 'particulier' ? 'selected' : '' }}>Particulier</option>
                        </select>
                    </div>

                <input type="text" name="photoId" value="{{ photo.id }}" hidden>

                <div class="textInput">
                    <div id="formatProfessionnel" {{ category == 'professionnel' ? '' : 'hidden' }}>
                        <div class="messageSelect" style="display: inline-block">Format de la photo :</div>
                        <select style="display: inline-block;" class="browser-default inputSelect"  name="{{category == 'particulier' ? '' : 'format' }}"  id="selectProfessionnel">
                            {% for format in formats %}
                                {% if format.category == 'professionnel' %}
                                    <option value="{{ format.id }}">{{ (format.ratioTaille * photoWidth) | number_format |replace({"," : " "}) }} x {{ (format.ratioTaille * photoHeight) |number_format |replace({"," : " "})}} - {{ format.prix }}€</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="formatParticulier" {{ category == 'particulier' ? '' : 'hidden' }}>
                        <div class="messageSelect" style="display: inline-block">Format de la photo :</div>
                        <select style="display: inline-block;" class="browser-default inputSelect" name="{{category == 'particulier' ? 'format' : '' }}" id="selectParticulier">
                            {% for format in formats %}
                                {% if format.category == 'particulier' %}
                                    <option value="{{ format.id }}">{{ (format.ratioTaille * photoWidth) | number_format |replace({"," : " "}) }} x {{ (format.ratioTaille * photoHeight) |number_format |replace({"," : " "})}} - {{ format.prix }}€</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <input id="acheter" name="acheter" class="browser-default" type="text" hidden value="false">
                <div class="containerButtons">
                    <a class="button buttonGreen agrandirButton  center-align" onclick="submitPhoto()">Ajouter au panier</a>
                    <a class="button buttonGray center-align" onclick="clickAcheter()">Acheter</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
