{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="container">

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        <h2  style="font-family: Lato-Bold;text-align: center">Formulaire de contact</h2>

        <div style="clear:both;"></div>

        <div style="text-align: center">
            {{ form_start(form) }}
            <div class="row">
                {{ form_widget(form.nom ) }}
                {{ form_widget(form.email ) }}
            </div>
            <div class="row">
                {{ form_widget(form.message ) }}
            </div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
