<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {#<link rel="stylesheet" href="{{ asset('css/jssocials.css') }}">#}
            {#<link rel="stylesheet" href="{{ asset('css/jssocials-theme-flat.css') }}">#}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    <div class="{{ app.request.get('_route') == 'accueil' ? 'bg'}}">
        <nav class="{{ app.request.get('_route') == 'accueil' ? 'navHome' : 'nav'}}">
            <div class="nav-wrapper col.s12">
                <a href="{{ path('main') }}" class="brand-logo .col.s12">Nicolas Noel</a>
                <div class="navBigSize">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% set url_page = app.request.uri %}
                        <li><a href="{{ path('accueil') }}"><span class="{{ 'accueil' in url_page ? 'active' }}">ACCUEIL</span></a></li>
                        <li><a href="{{ path('gallerie',{'category' : 'professionnel'}) }}"><span class="{{ 'professionnel' in url_page ? 'active' }}">PROFESSIONNEL</span></a></li>
                        <li><a href="{{ path('gallerie',{'category' : 'particulier'}) }}"><span class="{{ 'particulier' in url_page ? 'active' }}">PARTICULIER</span></a></li>
                        <li><a href="{{ path('contact') }}"><span class="{{ 'contact' in url_page ? 'active' }}">CONTACT</span></a></li>
                        <li><a href="{{ path('panier') }}">
                                {% if app.session.get('panier') == null %}
                                    <img class="panier" src="{{ asset('img/shopping-basket.svg') }}" width="30px" alt="">
                                {% else %}
                                    <img class="panier" src="{{ asset('img/shopping-basket-alert.svg') }}" width="30px" alt="">
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <ul id="slide-out" class="sidenav">
                    <li><div style="height:20px;"></div></li>
                    <li><a href="{{ path('accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('gallerie',{'category' : 'professionnel'}) }}">Professionnel</a></li>
                    <li><a href="{{ path('gallerie',{'category' : 'particulier'}) }}">Particulier</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li>
                        {% if app.session.get('panier') == null %}
                            <a href="{{ path('panier') }}">Mon panier</a>
                        {% else %}
                            <a href="{{ path('panier') }}">Mon panier (!)</a>
                        {% endif %}
                    </li>
                    {% if app.user %}
                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                    {% endif %}
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">Nicolas NOEL</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger menu">
                    <i class="large material-icons">menu</i>
                </a>
            </div>
        </nav>
    {% block firstPage %}{% endblock %}
    </div>

    {% block navgerer %}{% endblock %}
    {% block body %}{% endblock %}
    </body>
    <div style="clear: both;"></div>
    <footer>
        <div class="row ">
            <div class="col s12 m3 l2 offset-l1">
                <h6>Navigation</h6>
                <ul>
                    <li><a href="{{ path('accueil') }}" class="active">Accueil</a></li>
                    <li><a href="{{ path('gallerie',{'category' : 'professionnel'}) }}">Professionnel</a></li>
                    <li><a href="{{ path('gallerie',{'category' : 'particulier'}) }}">Particulier</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li><a href="{{ path('gestion-site-albums') }}">Gerer</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col s12 m3 l3">
                <h6>Contact</h6><br />
                <a href="mailto:contact.photorizz@gmail.com" target="_top">contact.photorizz@gmail.com</a>
                <div>06.31.47.06.76</div>
                <a href="{{ path('main') }}">Formulaire de contact</a>
            </div>
            <div class="col s12 m3 l3">
                <h6>Informations</h6><br />
                <div>Site web développé par Mathis DELAUNAY</div>
                <a href="mailto:delaunaymathis@yahoo.com" target="_top">delaunaymathis@yahoo.fr</a>
            </div>
            <div class="col s12 m3 l3">
                <h6>Reseaux sociaux</h6><br />
                <a href="https://www.facebook.com/photorizzo" class="facebook-footer"></a>
                <a href="https://www.instagram.com/photorizz_/" class="instagram-footer"></a>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="center col s12 l12">© 2018 Photo Sport Normandy</div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('js/materialize.js') }}"></script>
        <script src="{{ asset('js/menu.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

        {#<script src="{{ asset('js/jssocials.min.js') }}"></script>#}
        {#<script>#}
            {#$("#share").jsSocials({#}
                {#showLabel: false,#}
                {#showCount: false,#}
                {#shareIn: "popup",#}
                {#shares: ["twitter", "facebook"]#}
            {#});#}
        {#</script>#}
    {% endblock %}
</html>
