{% extends 'gestion/nav.html.twig' %}

{% block body %}


    <div class="retourGallerie">
        <a href="{{ path('gestion-site-albums') }}" class="nextPreviousA">&lt; Retour albums</a>
    </div>

    <div class="container content gestion">
        <h3 style="text-align: center">{{ album.albumName }}</h3>

        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="center-align" style="margin-bottom: 5vh;">
            <div class="row">
                {{ form_widget(form.photos) }}
                <label style="margin-top: 30px" for="form_photos" class="col l2 m2 s12 button buttonBlue">Choisir photo</label>
                <span id="fileNamePhoto" style="margin-top: 35px" class="col l6 m6 s12 valign-wrapper">Veuillez choisir une ou des photo(s)</span>
                {{ form_widget(form.add) }}
            </div>
        </div>
        {{ form_end(form) }}
        <table>
            <thead>
                <tr>
                    <th>Aperçu</th>
                    <th>Nom photo</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for photo in album.photos %}
                    <tr>
                        <td><img src="{{ asset('uploads/photos/' ~ photo.photo) }}" width="50px" alt="photo"></td>
                        <td>{{ photo.photoName }}</td>
                        <td>{{ photo.photoDate | date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('ajouterPersonne',{'id' : photo.id}) }}" title="Ajouter personnes"><i class="small material-icons gray-text center-align" width="20px">add</i></a>
                            <a href="{{ path('deletePhoto',{'albumId' : album.id,'photoId' : photo.id}) }}" title="Supprimer la photo"><i class="small material-icons red-text center-align" width="20px">cancel</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>

{% endblock %}