{% extends 'gestion/nav.html.twig' %}

{% block body %}
    <div style="min-height:100vh" class="container content gestion">
        <h3 style="text-align: center">Mes parutions dans la presse</h3>

        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="center-align" style="margin-bottom: 5vh;">
            <div class="row">
                {{ form_widget(form.title) }}
                {{ form_widget(form.photo) }}
                <label style="margin-top: 30px" for="form_photo" class="col l2 m2 offset-m1 offset-l1 s12 button buttonBlue">Choisir photo</label>
                <span id="fileNamePhoto" style="margin-top: 35px" class="col l3 m3 s12 valign-wrapper">Aucun fichier séléctionné</span>
                {{ form_widget(form.add) }}
            </div>
        </div>
        {{ form_end(form) }}

        <table>
            <thead>
            <tr>
                <th>Source</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for presse in presses %}
                <tr>
                    <td>{{ presse.title }}</td>
                    <td><img src="{{ asset('uploads/presse/' ~ presse.photo) }}" width="50px" alt="photo"></td>
                    <td>
                        <a href="{{ path('deletePresse',{'id' : presse.id}) }}" title="Supprimer l'album"><i class="small material-icons red-text center-align" width="20px">cancel</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}