{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
        </div>
        <div class="container">
            {% if isPaymentValidated %}
                <h4  style="margin-bottom: 5vh" class="center-align">Liens pour telecharger les photos</h4>
                <ul>
                    {% for link in links %}
                        {% set url = absolute_url('uploads/photos/' ~ link) %}
                        <ul><a href="{{  url }}" download>{{ url }}</a></ul>
                    {% endfor %}
                </ul>
            {% else %}
                <div>
                    Paiement non validé
                </div>
            {% endif %}
            <div style="text-align: center;margin-top: 5vh">
                <a class="button buttonGreen center-align" href="{{ path('accueil') }}">Retour accueil</a>
            </div>
        </div>
    </div>

{% endblock %}
